## Function

In [1]:
def myfunc(a,b):
    c=a+b
    return c
output = myfunc(10,80)
output

90

In [2]:
class Test:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def myfunc(self): #### first mistake
        return self.x + self.y
    
obj = Test(2,3)
output = obj.myfunc()
output

5

In [3]:
class Test1:
    def __init__(self, a, b):
        self.a = a
        self.b = b
    
    def myfunc(self):
      return self.a * self.b
    
obj = Test1(20,30)
output = obj.myfunc()
output

600

In [4]:
class Test2:
    def myfunc():
        return "Hello"
obj = Test2
output = obj.myfunc()
output

'Hello'

In [5]:
class Test3:
    def __init__(self, x, y):
        self .x = x
        self .y = y
    def add(self):
        return self.x + self.y
    def sub(self):
        return self.x * self.y
    
obj =Test3(10,5)
output = obj.add()
output1 = obj.sub()
print(output)
output1

15

50

In [6]:
def add(a,b):
    c=a+b
    return c
output =  add(2,3)
output

5

In [7]:
class Car:
    def brand():
        return "Brand"
obj = Car
output = obj.brand()
output

'Brand'

In [8]:
class Person:
    def greet():
        return "Hello"
    
obj = Person
output =obj.greet()
output

'Hello'

In [9]:
class Car:
    print ("Brand")
obj= Car

Brand

In [10]:
class Student:
    def __init__(self,name,grade):
        self.name = name
        self.grade = grade
    def display (self):
        return self.name, self.grade
    
obj= Student('nihan', 5)

output = obj.display ()
output

('nihan', 5)

In [11]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author
    def myfunc (self):
        return self.title , self .author
    
obj = Book('OS','Galvin')
output = obj.myfunc()
output

('OS', 'Galvin')

In [12]:
class Animal:
    def __init__(self,name):
        self.name =name
    def sound(self):
        print ("Some generic animal sound")
  
class Cat(Animal):
    def sound(self):
        print ("Meow")
        
        pass

In [13]:
elements = [0,1,2,3,4,5,6,7,8,9]
# type(elements)
for x in elements:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [14]:
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

In [15]:
class Mylist:
    def __init__(self, names:list):
        self.names = names
    
    def myfunc(self):
        for name in self.names:
            print(name)
        return "hello "

obj = Mylist(['Nimisha', 'Nihan', 'Arun'])
obj.myfunc()

Nimisha
Nihan
Arun

'hello '

In [16]:
class Test:
    
    def myfunc(x):
        # x=[1,2,3,4,5]
        for i in x:
            print(i)

obj = Test
obj.myfunc([1,2,3,4,5])

1
2
3
4
5

In [17]:
class Test1:
    def myfunc(x):
        # return x
        for i in x:
            print(i, end="")

obj = Test1
obj.myfunc('Nimisha')

Nimisha

In [18]:
class Test1:
    def myfunc(x):
        
        for i in x:
            print(i)

obj = Test1
obj.myfunc(['Nimisha','Nihan'])

Nimisha
Nihan

In [19]:
### sum of 10 digits

# summ = 0
# mul = 1
# lst = [2,5,7,9,39]
# for x in lst:
#     summ = summ + x
#     mul = mul * x

# summ, mul

In [32]:
del sum
lst = [1, 2, 3, 4, 5]
total = sum(lst)
print(total)

NameError: name 'sum' is not defined

In [33]:
for x in [1,2,3,4,5]:
    for y in [6,7,8,9,10]:
        print(x, y)

1 6
1 7
1 8
1 9
1 10
2 6
2 7
2 8
2 9
2 10
3 6
3 7
3 8
3 9
3 10
4 6
4 7
4 8
4 9
4 10
5 6
5 7
5 8
5 9
5 10

## while loop

In [22]:
# lst = [0,1,2,3,4,5,6,7,8,9]

# for x in lst:
#     if x%2==0: # % is remainder in python 
#         print('even', x)
#     else:
#         print('odd', x)

In [34]:
i = 0
summ = 0
while i<=10:
    summ = summ + i
    i = i + 1 
summ

55

### If Else Elif

In [24]:
a = 1    # ==, +=, etc comparetor
if a == 1:
    print(True)
elif a == 2:
    print('Hello')
else:
    print(False)

True

In [25]:
### Data Type

# String, Integer, Boolean, Complex, Float

# string = "hello world"  ### alphabetic letter, word or a sentence inside qotes 
# integer = 1 ### numeric value is an integer 
# Boolean = True, False ### True/False are the boolean values where True is valued as 1, False is values as 0
# float = 0.12 ## any decimal digits is known as float values 
# complex = 1 + 5j ### number with imaginary variable is complex data type 
# complex, type(integer)

In [26]:
## converting INt to DEC 
i = 5
type(float(i))

float

In [27]:
list = [1,2,3,4]
print(list)

[1, 2, 3, 4]

In [28]:
def fact(n):
 fact=1
 i=1
 while i<=5:
    fact =fact*i
    i = i +1
 return(fact)
fact(5)

120

In [ ]:
newlst = []
a = [1,2,3,4,4,3]