In [1]:
## converting int to dec

i = 5 
float(i)

5.0

In [41]:
## converting string of int to delcimal 

s = '1234'
float(s)

1234.0

In [3]:
## reverse a string 

a = "NimishaMathur"
a[-1:-5:-2]

'rh'

In [4]:
def reverse_string(a):
    c = a[::-1]
    return c
output = reverse_string("Nimisha")
output

'ahsimiN'

In [5]:
def palidrome(s):
    pal = s[::-1]
    if pal == s:
        return('it is a palidrome', pal)
    else:
        return('Not a palidrome')

palidrome('NitiN')

('it is a palidrome', 'NitiN')

In [6]:
## counting Vowels 

vowels = ['a','e','i','o','u']
word = 'programming'
count = 0
consonent =0
for alphabet in word:    
    if alphabet in vowels:
        count+=1
    else:
        consonent+=1
count, consonent

(3, 8)

In [7]:
def count_vowel_consonenet(word):
    vowels = ['a','e','i','o','u']
    count = 0
    consonent = 0
    for alphabet in word:    
        if alphabet in vowels:
            count+=1
        else:
            consonent+=1
    
    return count, consonent

o = count_vowel_consonenet("Programming")
o

(3, 8)

In [8]:
count_vowel_consonenet("Testing")

(2, 5)

In [9]:
def recurring_count(word, letter):
    count = 0
    for alphabet in word:
        if alphabet == letter:
            count+=1
    return count

recurring_count('Programming', 'o')

1

In [10]:
fib = [0,1]
for i in range(5):
    fib.append(fib[-1] + fib[-2])
" ".join(str(e) for e in fib)

'0 1 1 2 3 5 8'

In [11]:
for x in range(5):
    print(x)

0
1
2
3
4

In [12]:
def largest_number(lst):
    lrgst_num = 0
    for x in lst:
        if x > lrgst_num:
            lrgst_num = x
    return lrgst_num
    
largest_number([0,1,6,4,9,8,3])

9

In [13]:
def fibbonacci_series(lst):

    for x in range(5):
        lst.append(lst[-1] + lst[-2])
    return lst

fibbonacci_series([0,1])

[0, 1, 1, 2, 3, 5, 8]

In [14]:
elements = [0, 1, 1, 2, 3, 5, 8]
elements.append('nimisha')
elements

[0, 1, 1, 2, 3, 5, 8, 'nimisha']

In [15]:
list1 = [0,1]
list2 = [2,3]
list1.extend(list2)
list1

[0, 1, 2, 3]

In [16]:
lst = [29,42,56,1,3,93, 29, 48]
no = 0
for i in lst:
    if i > no:
        no = i

no

93

In [17]:
lst = ['apple', 'banana', 'grapes', 'mango']
for x in range(5):
    print(x)

0
1
2
3
4

In [18]:
fruits = [
    "apple",
    "banana",
    "orange",
    "grape",
    "pineapple",
    "mango",
    "strawberry",
    "blueberry",
    "watermelon",
    "kiwi",
    "peach",
    "cherry",
    "pomegranate",
    "papaya",
    "lemon",
    "lime",
    "coconut",
    "pear",
    "plum",
    "apricot"
]
fruits[-2]

'plum'

In [19]:
for fruit in fruits:
    print(fruit)
    print('------------------------------------------------------------------------------------')
    print('+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')

apple
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
banana
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
orange
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
grape
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
pineapple
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
mango
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
strawberry
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
blueberry
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
watermelon
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
kiwi
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
peach
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
cherry
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
pomegranate
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
papaya
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
lemon
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
lime
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
coconut
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
pear
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
plum
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
apricot
------------------------------------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [20]:
lst = [29,42,56,1,3,93, 29, 48]
no = lst[0]
for i in lst:
    if i < no:
        no = i
no

1

In [21]:
lst = [1,2,3,4,5,6,7,8]
int(len(lst)/2)
lst[4]

5

In [22]:
lst = ['p','y','t','h','o','n']
result = "".join(lst)
print(result)

python

In [23]:
str1 = "mathur"
str2 = "Mathur"

str1 = str1.replace(" ", " ").upper()
str2 = str2.replace(" ", " ").upper()
if sorted(str1) == sorted(str2):
    print ("true")
else:
    print ("false")

true

In [24]:
def pal(s):
    num = s[::-1]
    if num == s:
        print ('true')
    else:
        print ('false')
pal("nimi")

false

In [25]:
str = "Pro gram ming"
print(str.count(" "))

2

In [26]:
str = "P r o"
result = "".join(str)
print(result)

P r o

In [27]:
lst1 = [1,2,3]
lst2 = [4,5,6]
result = lst1 + lst2
result

[1, 2, 3, 4, 5, 6]

In [28]:
# importing Regular Expressions Library
import re

str = 'Python is 1'

len1 = len(re.sub("[^0-9]", "", str))       # Keep only digits
len2 = len(re.sub("[^a-zA-Z]", "", str))    # Keep only letters
len3 = len(re.sub("[\s]", "", str))         # Remove spaces

print(len1)
print(len2)
print(len3)

1
8
9

<>:8: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Nimisha\AppData\Local\Temp\ipykernel_8520\3796804663.py:8: SyntaxWarning: invalid escape sequence '\s'
  len3 = len(re.sub("[\s]", "", str))         # Remove spaces

In [31]:

mov1 = input("enter 1st movie name")
mov2 = input("enter 1st movie name")
mov3 = input("enter 1st movie name")
mov1

''

In [34]:
class Student:
    name = "karan"
s1 = Student()
print(s1.name)

s2 =Student()
print(s2.name)

karan
karan

In [38]:
class Student:
    def __init__(self,name):
        self.name = name
        print("add name")

s1 = Student("nimisha")
print(s1.name)

add name
nimisha

In [40]:
dict = {
   "name" :"nimisha",
   "Place" : "delhi"

      }
print(dict)

{'name': 'nimisha', 'Place': 'delhi'}

In [42]:
python --version

NameError: name 'python' is not defined