In [4]:

def sum(a,b):
    c = a+b
    return c
output = sum(1,2)
output

3

In [6]:
class Test:
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def  myfunc(self):
        return self.x + self.y
obj = Test(4,3)
output = obj.myfunc()
output

7

In [7]:
class Test:
    def myfunc():
        return "Hello"
obj = Test
output = obj.myfunc()
output

'Hello'

In [8]:
class Student:
    def __init__(self,name,grade):
        self.name = name
        self.grade = grade
    def myfunc (self):
        return self.name,self.grade
obj = Student ('Nihan', 'first')
output = obj.myfunc()
output

('Nihan', 'first')

In [9]:
list = [1,2,3,4,5]
for i in list:
    print (i)

1
2
3
4
5

In [10]:
for x in range(1,20,3):
    print(x)

1
4
7
10
13
16
19

In [15]:
class Mylist:
    def __init__(self, names:list):
        self.names = names

    def myfunc(self):
        for i in self.names:
            print(i)

obj = Mylist(['a','b','c'])
output = obj.myfunc()
output

a
b
c

In [16]:
class Test:
    def myfunc(x):
        for i in x:
            print(i)

        
obj = Test
output = obj.myfunc([1,2,3,4])
output

1
2
3
4

In [19]:
list = [1,2,3,4,5]
sum = 0
for i in list:
    sum = sum + i
    
print(sum)

15

In [22]:
def sum():
 lst = [1,2,3,4,5]
 total = sum(lst)
 print(total)

In [25]:
lst = [1,2,3,4,5,6,7,8,9]
for i in lst:
    if i%2 == 0:
      print (i ,"Number is even")
    else:
       print (i ,"Number is odd")

1 Number is odd
2 Number is even
3 Number is odd
4 Number is even
5 Number is odd
6 Number is even
7 Number is odd
8 Number is even
9 Number is odd

In [33]:
sum = 0
i = 1
while i<=10:
    sum = sum+i
    i = i+1
print(sum)

55

In [34]:
a=1
if a==0:
  print("q")
elif a==1:
   print("w")
else :
    print ("r")

w

In [37]:
i =5.2
type(float(i))
i

5.2

In [47]:
def fact(n):
    fact = 1
    i =1
    for i in range (1,n+1):
        fact = fact * i
    return(fact)

print(fact(5))

120

In [48]:
i = 5
float(i)

5.0

In [49]:
i='12345'
float(i)

12345.0

In [50]:
i = 123.5
str(i)

'123.5'

In [52]:
def reverse(word):
    s=word[::-1]
    return s
reverse('NIMISHA')

'AHSIMIN'

In [53]:
def vowel(word):
    count = 0
    vowel = ['a','e','i','o','u']
    cons =0
    for i in word:
        if i in vowel:
          count = count + 1
        else:
           cons = cons + 1
    return  cons,count 
vowel("Nimisha")

(4, 3)

In [54]:
def word_occurence(word,w):
    count = 0
    for i in word:
        if i == w:
            count = count + 1
    return count
word_occurence('Nimisha','N')

1

In [55]:
def pal(word):
    a = word[::-1]
    if a == word:
        return True
    else:
        return False
pal('nITIN')

False

In [56]:
def max(num):
    count = 0
    for i in num:
        if i > count:
            count = count + 1
    return count
max([1,2,3,4,5])

5

In [57]:
lst = [1,2,3,4,5]
int(len(lst)/2)
lst[3]

4

In [61]:
def num():
    for i in range (1,11):
        print(i)
num()

1
2
3
4
5
6
7
8
9
10

In [62]:
list1 = [1,2]
list2 = [3,4]
list1.extend(list2)
list1

[1, 2, 3, 4]

In [63]:
ele = [1,2,3,4,5]
ele1 = 'nimisha'
ele.append(ele1)
ele

[1, 2, 3, 4, 5, 'nimisha']

In [64]:
lst = "pro gra m"
print(lst.count((" ")))

2

In [ ]:
movies = []
mov1 = input('enter the name of the movie')
mov2 = input('enter the name of 2nd movie')
mov3 = input('enter the name of 3rd movie')
movies.append(mov1)
movies.append(mov2)
movies.append(mov3) 
print(movies)

In [ ]:
list = [1,2,3]
copylist = list.copy()

if list == copylist:
    print ("yes")
else:
    print ("NO")

In [2]:
dict = {'a':1,'b':2,'c':3}
print(dict.values())
print(dict.keys())
print(dict.items())
dict.update({'d':4})
print(dict)

dict_values([1, 2, 3])
dict_keys(['a', 'b', 'c'])
dict_items([('a', 1), ('b', 2), ('c', 3)])
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [4]:
collec = {1,2,3,4,5,"hello","name"}
print(collec)
print(type(collec))

{1, 2, 3, 4, 5, 'name', 'hello'}
<class 'set'>

In [7]:
collec = set()
print(type(collec))

<class 'set'>

In [8]:
collec = {}
print(type(collec))

<class 'dict'>

In [9]:
collec = []
print(type(collec))

<class 'list'>

In [10]:
set1 = {1,2,3}
set2 = {4,5,6,1}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

In [11]:
dict ={
    'a':1 ,
    'b': [11,22]
}
print(dict)

{'a': 1, 'b': [11, 22]}

In [12]:
i = 1
while i<10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9

In [13]:
i=1
sum=0
while i<10:
    sum =sum+i
    print(sum)
    i = i+1

1
3
6
10
15
21
28
36
45

In [ ]:
sum=0
i = 5
while i<50:
    sum = sum+i
    i = i+5
    print(i)

10
15
20
25
30
35
40
45
50

In [1]:
def sum(a,b):
    x=a+b
    return x
sum(5,6)

11